@import url('https://fonts.googleapis.com/css2?family=Hind&family=Kanit:wght@100&family=Open+Sans:wght@500&display=swap');

$hind: 'Hind', sans-serif;
$kanit: 'Kanit', sans-serif;
$open-sans: 'Open Sans', sans-serif;

* {
    font-family: $hind;
}

.App {
    background-color: #141A1A;
    color: #FFFFFF;
    height: 100%;
}

h {
    &1 {
        font-family: $open-sans;
        font-size: 67.34px;
        color: #08BF9E;
    }
    &2 {
        font-family: $kanit;
        font-size: 50.52px;
    }
    &3 {
        font-family: $hind;
        font-size: 37.90px;
    }
    &4 {
        font-family: $open-sans;
        font-size: 28.43px;
    }
    &5 {
        font-family: $open-sans;
        font-size: 21.33px;
        color: #ffffffd2;
    }
    p {
        font-family: $hind;
        font-size: 16px;
    }
    &6 {
        font-family: $kanit;
        font-size: 12px;
    }
}

#heroSection {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    & img {
        width: 300px;
        border-radius: 100%;
        outline: 5px solid #d1f7f0bd;
        box-shadow: 0px 10px 50px #000000b6;
    }
    & #heroSectionText {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@for $i from 1 through 10 {
    .myClass:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.5}s;
    }
}

.myClass {
    animation: FadeIn 1s linear;
}

@keyframes FadeIn { 
    0% {
      opacity: 0;
      transform: scale(.1);
    }
  
    85% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }