@use 'fadeIn';
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Kanit:wght@100&family=Open+Sans:wght@500&display=swap');

$hind: 'Hind', sans-serif;
$kanit: 'Kanit', sans-serif;
$open-sans: 'Open Sans', sans-serif;

* {
    font-family: $hind;
    margin: 0;
}

.App {
    background-color: #141A1A;
    color: #FFFFFF;
    height: 100%;
}

h {
    &1 {
        font-family: $open-sans;
        font-size: 67.34px;
        color: #08BF9E;
    }
    &2 {
        font-family: $kanit;
        font-size: 50.52px;
    }
    &3 {
        font-family: $hind;
        font-size: 37.90px;
    }
    &4 {
        font-family: $open-sans;
        font-size: 28.43px;
    }
    &5 {
        font-family: $open-sans;
        font-size: 21.33px;
        color: #ffffffd2;
    }
    p {
        font-family: $hind;
        font-size: 16px;
    }
    &6 {
        font-family: $kanit;
        font-size: 12px;
    }
}

header {
    width: calc(100% - 60px);
    background-color: #02030370;
    height: 60px;
    margin-top: 12px;
    margin-left: 30px;
    position: fixed;
    border: 1.4px solid #a2c7c757;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 100;
}

#heroSection {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(131deg, rgba(9,66,57,1) 0%, rgba(0,0,0,1) 50%, rgba(32,23,9,1) 100%);
    & #header-img {
        width: calc(130px + 15%);
        border-radius: 100%;
        outline: 5px solid #d1f7f0bd;
        box-shadow: 0px 10px 50px #000000b6;
    }
    & #heroSectionText {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 630px) {
    h {
        &1 {
            font-size: 48.83px;
            color: #08BF9E;
        }
        &2 {
            font-size: 39.06px;
        }
        &3 {
            font-size: 31.25px;
        }
        &4 {
            font-size: 25.00px;
        }
        &5 {
            font-size: 21.33px;
            color: #ffffffd2;
        }
        p {
            font-size: 16px;
        }
        &6 {
            font-size: 12px;
        }
    }
    #heroSection {
        flex-direction: column;
        height: 75%;
        padding-top: 25%;
        & #header-img {
            width: 180px;
        }
        & #heroSectionText {
            align-items: center;
        }
    }
    header {
        width: calc(100% - 30px);
        margin-left: 15px;
        height: 50px;
    }
  }

  @media (max-width: 330px) {
    h1 {
        font-size: 42px;
    }
    h3 {
        font-size: 26px;
    }
  }