@use 'fadeIn';
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Kanit:wght@100&family=Open+Sans:wght@500&display=swap');

$hind: 'Hind', sans-serif;
$kanit: 'Kanit', sans-serif;
$open-sans: 'Open Sans', sans-serif;

* {
    font-family: $hind;
    margin: 0;
}

.App {
    background-color: #141A1A;
    color: #FFFFFF;
    height: 100%;
}

h {
    &1 {
        font-family: $open-sans;
        font-size: 67.34px;
        color: #08BF9E;
    }
    &2 {
        font-family: $kanit;
        font-size: 50.52px;
    }
    &3 {
        font-family: $hind;
        font-size: 37.90px;
    }
    &4 {
        font-family: $open-sans;
        font-size: 28.43px;
    }
    &5 {
        font-family: $open-sans;
        font-size: 21.33px;
        color: #ffffffd2;
    }
    p {
        font-family: $hind;
        font-size: 16px;
    }
    &6 {
        font-family: $kanit;
        font-size: 12px;
    }
}

header {
    width: calc(100% - 60px);
    background-color: #02030370;
    height: 60px;
    margin-top: 12px;
    margin-left: 30px;
    position: fixed;
    border: 1.4px solid #a2c7c757;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 100;
}

#heroSection {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    & #header-img {
        width: 300px;
        border-radius: 100%;
        outline: 5px solid #d1f7f0bd;
        box-shadow: 0px 10px 50px #000000b6;
    }
    & #heroSectionText {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
