@import url('https://fonts.googleapis.com/css2?family=Hind&family=Kanit:wght@100&family=Open+Sans:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141A1A;
  height: 100%;
  background: linear-gradient(131deg, rgb(8, 36, 32) 0%, rgba(0,0,0,1) 50%, rgb(24, 18, 8) 100%);
  overflow-x: hidden;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  background: linear-gradient(131deg, rgb(8, 36, 32) 0%, rgba(0,0,0,1) 50%, rgb(24, 18, 8) 100%);
}

code {
  font-family: 'Hind', sans-serif;
}
